html,body{
	height: 100%;
}
body{
	background:url(../images/login-4.jpg) no-repeat;
	background-size: 100% 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 0 0 0 #ccc;
	overflow: hidden;
}
.content{
	width:1050px;
	height:630px;
	position: absolute;
	top:0;left:0;right:0;bottom:0;
	margin:auto;
	z-index: 99;	
}
.logo{
	height:70px;
	-background: -webkit-linear-gradient(top,#0D648E,#3C88E0);
	background:#0D648E;
	overflow: hidden;
}
.logo>img{
	height:calc(100% - 10px);
	margin-top:5px;
	padding-left:17.5px;
}
.nav{
	display: inline-block;
	float:left;
	width:140px;
	height:560px;
	background:rgba(192,192,192,0.4);
	overflow: hidden;
}
.nav>.userImg{
	width:105px;
	height:105px;
	text-align: center;
	line-height: 105px;
	border-radius: 50%;
	box-sizing: border-box;
	margin:17px;
	background:#0D648E;
	color:white;
}
.nav>.navlist{
	width:100%;
	overflow: hidden;
}
.nav>.navlist>li,p{
	width:96.25px;
	height:35px;
	background:#0D648E;
	border-radius: 5px;
	line-height: 35px;
	text-align: center;
	color:white;
	margin:5px auto;	
	overflow: hidden;
	cursor: pointer;
	position: relative;
	font-size: 16px;
}
.nav>.navlist>li>span{
	margin-right:8.75px;
}
.nav>.navlist>li:last-child{
	margin-bottom:20px;
}
.nav>.navlist>p>span{
	margin-right:8.75px;
}
.nubnav{
	display: inline-block;
	float:left;
	width:147px;
	height:560px;
	background:rgba(255,255,255,0.5);
	margin-left:2px;
	overflow: hidden;
}
.nubnav>ul{
	width:100.75px;
	margin-left:3px;
	height:525px;
	float:right
}
.nubnav li{
	width:100.75px;
	height:42.5px;
	line-height: 42.5px;
	text-align: center;
	background:rgba(192,192,192,0.7);
	color:#0D648E;
	border-left:0.5px solid #aaa;
	box-sizing: border-box;
	font-weight: bold;
	cursor: pointer;
	font-size: 18px;
}
.info{
	display: inline-block;
	position:relative ;
	float:left;
	width:760.25px;
	height:560px;
	background:rgba(192,192,192,0.7)
}
#todayNews{
	width:100%;
	height:auto;
}
#todayNews>ul{
	width:100%;
	height:40px;
	margin-top:1px;padding:0;
}
#todayNews>ul>li{
	width:252.6px;
	display: inline-block;
	height:40px;
	line-height: 40px;
	text-align: center;
	float:left;
	margin-left:.5px;
	background:#033F4B;
	color: white;
}
.todayInfo{
	width:100%;
	height:520px;
}
.todayInfo>p{
	width:252.6px;
	height:40px;
	line-height: 40px;
	background: #0D648E;
	border-radius: 0;
	display: inline-block;
	float:left;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	
	box-sizing: border-box;
}
.todayInfo>p:nth-child(1){
	margin-left:1px;
}
.todayInfo>p:nth-child(2){
	border-left:1px solid #999;
	border-right:1px solid #999;
}
.todayInfo>ul{
	width:100%;
	height:465px;
	overflow-y: scroll;
}
.todayInfo>ul>li{
	width:100%;
	height:150px;
	margin-bottom:5px;
}
.todayInfo>ul>li>h3{
	width:150px;
	height:30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	background:#0D648E;
	color:white;
}
.todayInfo>ul>li>div{
	width:720.25px;
	height:100px;
	margin-top:10px;
	float:right;
	margin-right:5px;
	-background: lightcoral;
	overflow-y: scroll;
	border:1px solid #999;
	box-sizing: border-box;
	outline: #888;
	border-radius: 5px;
	
}
.todayInfo>ul>li>a{
	display: block;
	width:50px;
	height:50px;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	text-decoration: none;
	margin:20px;
}
.addpeople{
	display: none;
	width:200px;
	height:200px;
	position: absolute;
	top:0;left:0;right:0;bottom:0;
	margin:auto;
	overflow-y: scroll;
	background:rgba(255,255,255,0.7)
}

.addpeople>li{
	width:100%;
	height:40px;
	line-height: 40px;
	text-align: center;
	list-style: none;
	border:1px solid ;
}

