html,body{
	height: 100%;
}
body{
	background:url(../images/login-4.jpg) no-repeat;
	background-size: 100% 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 0 0 0 #ccc;
	overflow: hidden;
}
.content{
	width:1050px;
	height:630px;
	position: absolute;
	top:0;left:0;right:0;bottom:0;
	margin:auto;
	z-index: 99;	
}
.logo{
	height:70px;
	-background: -webkit-linear-gradient(top,#0D648E,#3C88E0);
	background:#0D648E;
	overflow: hidden;
}
.logo>img{
	height:calc(100% - 10px);
	margin-top:5px;
	padding-left:17.5px;
}
.nav{
	display: inline-block;
	float:left;
	width:140px;
	height:560px;
	background:rgba(192,192,192,0.4);
	overflow: hidden;
}
.nav>.userImg{
	width:105px;
	height:105px;
	text-align: center;
	line-height: 105px;
	border-radius: 50%;
	box-sizing: border-box;
	margin:17px;
	background:#0D648E;
	color:white;
}
.nav>.navlist{
	width:100%;
	overflow: hidden;
}
.nav>.navlist>li,p{
	width:96.25px;
	height:35px;
	background:#0D648E;
	border-radius: 5px;
	line-height: 35px;
	text-align: center;
	color:white;
	margin:5px auto;	
	overflow: hidden;
	cursor: pointer;
	position: relative;
	font-size: 16px;
}
.nav>.navlist>p>a{
	color: white;
	list-style: none;
	text-decoration: none;
	display: inline-block;
}
.nav>.navlist>p>a>span:nth-child(2){
	display: inline-block;
	margin-left: 10px;
}
.nav>.navlist>li>span{
	margin-right:8.75px;
}
.nav>.navlist>li:last-child{
	margin-bottom:20px;
}
.nav>.navlist>p>span{
	margin-right:8.75px;
}
.nubnav{
	display: inline-block;
	float:left;
	width:147px;
	height:560px;
	background:rgba(255,255,255,0.5);
	margin-left:2px;
	overflow: hidden;
}
.nubnav>ul{
	width:100.75px;
	margin-left:3px;
	height:525px;
	float:left;
}
.nubnav li{
	width:100.75px;
	height:42.5px;
	line-height: 42.5px;
	text-align: center;
	background:rgba(192,192,192,0.7);
	color:#0D648E;
	border-left:0.5px solid #aaa;
	box-sizing: border-box;
	font-weight: bold;
	cursor: pointer;
	font-size: 18px;
}
.workShowBg{
	width:909.25px;
	height:560px;
	background:rgba(192,192,192,0.7);
	float:left;
}
.info{
	display: inline-block;
	position:relative ;
	float:left;
	width:760.25px;
	height:560px;
	background:rgba(192,192,192,0.7)
}
#todayNews{
	width:100%;
	height:auto;
}
#todayNews>ul{
	width:100%;
	height:40px;
	margin-top:1px;padding:0;
}
#todayNews>ul>li{
	width:252.6px;
	display: inline-block;
	height:40px;
	line-height: 40px;
	text-align: center;
	float:left;
	margin-left:.5px;
	background:#033F4B;
	color: white;
	cursor: pointer;
}
.todayInfo{
	width:100%;
	height:520px;
	background:rgba(13,100,142,0.3)
}
.todayInfo_post{
	width:100%;
	height:519px;
	overflow-y: scroll;
}
.todayInfo_post>li{
	width:400px;
	height:250px;
	border:1px solid #ccc;
	margin-top:5px;
	list-style: none;
	overflow: hidden;
	margin-left:10px;
}
.todayInfo_get{
	width:100%;
	height:519px;
	overflow-y: scroll;
}
.todayInfo_get>li{
	width:400px;
	height:250px;
	border:1px solid #ccc;
	margin-top:5px;
	list-style: none;
	overflow: hidden;
	margin-left:10px;
	
}
.headInfo{
	width:100%;
	height:60px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	background:#ddd;
}
.headInfo>p{
	width:50px;
	height:50px;
	line-height: 50px;
	text-align: center;
	color:white;
	background:#31708F;
	border-radius: 50%;
	margin:5px;
	
}
.headInfo>span{
	display: inline-block;
	height:60px;
	width:50px;
	text-align: right;
	line-height: 60px;
	position: absolute;
	top:0;
	right:10px;
}
.Info{
	width:100%;
	height:140px;
	background:#eee;
	overflow: hidden;
}
.Info>p{
	width:100%;
	background:none;
	height:35px;
	line-height: 35px;
	margin-top:10px;
	color:#033F4B;
	text-align: left;
	font-weight: bold;
	text-indent: 10px;
}
.Info>p>span{
	font-weight: normal;
}
.Info>p:nth-child(1){
	margin-top:none;
}
.footInfo{
	width:100%;
	height:50px;
	border-top:1px solid #ccc;
	box-sizing: border-box;
	overflow: hidden;
	background:#ddd;
}
.footInfo>span{
	display:inline-block;
	text-indent: 10px;
	height:50px;
	line-height: 50px;
}
.footInfo>button{
	height:24px;
	line-height: 22px;
	float:right;
	margin-right:10px;
	margin-top:12px;
	background:#31708F;
	color:white;
	border-radius: 5px;
	outline: none;
}
.todayInfo>p{
	width:252.6px;
	height:40px;
	line-height: 40px;
	background: #0D648E;
	border-radius: 0;
	display: inline-block;
	float:left;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	
	box-sizing: border-box;
}
.todayInfo>p:nth-child(1){
	margin-left:1px;
}
.todayInfo>p:nth-child(2){
	border-left:1px solid #999;
	border-right:1px solid #999;
}
.todayInfo>ul{
	width:100%;
	height:465px;
	overflow-y: scroll;
}
.todayInfo>ul>li{
	width:100%;
	height:150px;
	margin-bottom:5px;
}
.todayInfo>ul>li>h3{
	width:150px;
	height:30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	background:#0D648E;
	color:white;
}
.todayInfo>ul>li>textarea{
	display: block;
	width:720.25px;
	height:100px;
	margin-top:10px;
	float:right;
	margin-right:5px;
	overflow-y: scroll;
	border:1px solid #ccc;
	box-sizing: border-box;
	outline: #888;
	border-radius: 5px;
	resize: none;
}
.todayInfo>ul>li>input{
	display: block;
	margin-top:20px;
	margin-left:20px;
	width:80px;
	height:30px;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
	background:#0D648E;
	color:white;
}
.todayInfo>ul>li>a{
	display: block;
	width:50px;
	height:50px;
	font-size: 50px;
	text-align: center;
	line-height: 50px;
	border:none;
	text-decoration: none;
	margin:20px;
}
.addpeopleB{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
	position: absolute;
	top:0;left:0;
	z-index: 9;
}
.addpeople{
	width:200px;
	height:200px;
	position: absolute;
	top:0;left:0;right:0;bottom:0;
	margin:auto;
	overflow-y: scroll;
	background:rgba(13,100,142,0.7);
	color:white;
}

.addpeople>li{
	width:100%;
	height:40px;
	line-height: 40px;
	text-align: center;
	list-style: none;
	border:1px solid #ccc;
	cursor: pointer;
}
.alertInfo{
	position: absolute;
	top:0;left:0;right:0;bottom:0;
	margin:auto;
	width:80px;
	height:60px;
	line-height: 60px;
	text-align: center;
	background: rgba(255,255,255,0.7);
}
.NewsInfo{
	float:left;
	width:760.25px;
	height:560px;
	background:rgba(192,192,192,0.7);
	overflow-y: scroll;
}
.NewsInfo li{
	width:400px;
	border-radius: 10px;
	margin-left:5px;
	margin-bottom:5px;
}
.NewsInfo li>.headInfo>p{
	width:100px;
	border-radius: 10px;
}
/*wang开始*/
.end{
	width: 80px;
	height: 150px;
	border: 1px solid #737373;
	position: absolute;
	top: 220px;
	left: 120px;
	border-radius: 5px;
	z-index: 99999;
	background: #0D648E;
	text-align: center;
	color: white;
	line-height: 50px;
	font-size: 14px;
	cursor: pointer;
}
.end ul li:hover{
	background: #105CB6;
	border-radius: 5px;
}

/*tab*/
.tab{
	width: 500px;
	height: 250px;
	z-index: 9999999;
	position: absolute;
	background: white;
	border-radius: 5px;
	top: 30%;
	left: 25%;
}
.tab h3{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #9D9D9D;
	text-align: center;
	line-height: 50px;
}
.tab h3 span{
	display: inline-block;
	float: right;
	margin-right: 5px;
	margin-top: -10px;
	font-size: 26px;
	cursor: pointer;
}
.tab>.inp1{
	width: 400px;
	height: 40px;
	margin-top: 40px;
	border-radius: 5px;
	outline:none;
	padding: 10px 0;
}
.tab>.inp2{
	width: 200px;
	height: 40px;
	margin-left: 150px;
	margin-top: 40px;
	border-radius: 5px;
	outline: none;
	border: none;
	background: #0D648E;
	color: white;
}

/*psd*/
.psd{
	width: 500px;
	height: 350px;
	z-index: 9999999;
	position: absolute;
	background: white;
	border-radius: 5px;
	top: 30%;
	left: 25%;
}
.psd h3{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #9D9D9D;
	text-align: center;
	line-height: 50px;
}
.psd h3 span{
	display: inline-block;
	float: right;
	margin-right: 5px;
	margin-top: -10px;
	font-size: 26px;
	cursor: pointer;
}
.psd input{
	width: 380px;
	height: 40px;
	margin-left: 110px;
	border-radius: 5px;
	outline: none;
	padding: 10px;
}
.psd .ip4{
	margin-top: 10px;
	border: none;
	background: #105CB6;
	color: white;
}
.psd span{
	display: inline-block;
	margin-top: 15px;
}
/*tui*/
.tui{
	width: 500px;
	height: 250px;
	z-index: 9999999;
	position: absolute;
	background: white;
	border-radius: 5px;
	top: 30%;
	left: 25%
}
.tui h3{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #9D9D9D;
	text-align: center;
	line-height: 50px;
}
.tui h3 span{
	display: inline-block;
	float: right;
	margin-right: 5px;
	margin-top: -10px;
	font-size: 26px;
	cursor: pointer;
}
.tui p{
	width: 100%;
	height: 150px;
	border: #67B16 solid 1px;
	text-align: center;
	line-height: 150px;
	background: white;
	color: black;
}
.tui input{
	width: 200px;
	height: 40px;
	margin-left: 32px;
	margin-top: -5px;
	outline: none;
	border: none;
	border-radius: 5px;
	color: white;
}
.tui .btn1{
	background: #FF4234;
}
.tui .btn2{
	background: #008CEE;
}
/*wang结束*/