	<link rel="stylesheet" type="text/css" href="styles/reset.css"/>
	<link rel="stylesheet" type="text/css" href="../styles/container.css"/>
	<div class="content" ng-controller="contrain">
			<div class="logo">
				<img src="../images/logo1.gif"/>
			</div>
			<div class="nav">
				<div class="userImg">
					O(∩_∩)O
				</div>
				<div class="navlist">
					<li><span class="glyphicon glyphicon-comment"></span>News</li>
					<li><span class="glyphicon glyphicon-user"></span>User</li>
					<li><span class="glyphicon glyphicon-tasks"></span>Work</li>
					<p><span class="glyphicon glyphicon-envelope"></span>Email</p>
					<p><span class="glyphicon glyphicon-th-large"></span>More</p>
					<p class="add-person"><span class="glyphicon glyphicon-plus"></span> Add</p>	
				</div>
			</div>
			
			<div class="nubnav">
				<ul class="workInfo">
					<li ui-sref=".todayNews" ng-click="tiao()" class="rizhi">日志</li>
					<li>审批</li>
					<li>。。。</li>
				</ul>
			</div>
			<div class="info">
				 <div ui-view></div>
			</div>
			
	</div>