<link rel="stylesheet" href="../styles/reset.css">
        <link rel="stylesheet" href="../styles/supersized.css">
        <link rel="stylesheet" href="../styles/wang.css">  	
    <div ng-controller="denglu">
     <div class="logo">
     	<img src="../images/logo1.gif">
     </div>
    <div class="page-container">
    	<div class="home">
    	<h1>登录</h1>
          <form action="" method="post">
                <input type="text" ng-model="username" name="username" class="username" placeholder="手机号">
                <input type="password" ng-model="password" name="password" class="password" placeholder="密码">
                <button type="submit" ng-click="longin()">提交</button>
                <div class="error"><span>+</span></div>
            </form>
            <div class="connect">
                <p>DuWangLiQiGuoChen</p>
            </div>
    	</div>	
        </div>	
        </div>	
        
 		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>     	
        <script src="../scripts/controllers/supersized.3.2.7.min.js"></script>
        <script src="../scripts/controllers/supersized-init.js"></script>
      


