<div class="info" ng-controller="rizhixq">
					 
				<div class="addpeopleB" ng-show="addpeopleBg" ng-controller="addPeople">
					<div class="addpeople">
						<li class={{people.id}} ng-click="linePeople($index)" ng-repeat="people in addPeoples">{{people.nicheng}}</li>
					</div>
				</div>
				
				<div id="todayNews">
					<ul>
						<li>发日志</li>
						<li ng-click="postInfo()">我发出的</li>
						<li ng-click="getInfo()">我收到的</li>
					</ul>
				</div>
				<div class="todayInfo" ng-controller="todayInfo">
					<p ng-click="dayInfo($index)">日报</p>
					<p ng-click="dayInfo($index)">周报</p>
					<p ng-click="dayInfo($index)">月报</p>
					<ul>
						<li>
							<h3>今日完成工作</h3>
							<textarea ng-model="day.dayFinish"></textarea>
						</li>
						<li>
							<h3>未完成工作</h3>
							<textarea ng-model="day.dayUnFinish"></textarea>
						</li>
						<li>
							<h3>备注</h3>
							<textarea ng-model="day.dayBeizhu"></textarea>
						</li>
						<li>
							<h3>发送给</h3>
							<input disabled="disabled" class="userShow" ng-model="day.dayFageishui">
							<a href="javascript:;" ng-click="addPe()" class="glyphicon glyphicon-plus-sign  add"></a>
						</li>
						<p ng-click="daysubmit()">提交</p>
					</ul>
					<ul style="display: none;">
						<li>
							<h3>本周完成工作</h3>
							<textarea ng-model="week.weekFinish"></textarea>
						</li>
						<li>
							<h3>本周工作总结</h3>
							<textarea ng-model="week.weekUnFinish"></textarea>
						</li>
						<li>
							<h3>备注</h3>
							<textarea ng-model="week.weekBeizhu"></textarea>
						</li>
						<li>
							<h3>发送给</h3>
							<input disabled="disabled" class="userShow" ng-model="week.weekFageishui">
							<a href="javascript:;" ng-click="addPe()" class="	glyphicon glyphicon-plus-sign add"></a>
						</li>
						<p ng-click="weeksubmit()">提交</p>
					</ul>
					<ul style="display: none;">
						<li>
							<h3>本月工作计划</h3>
							<textarea ng-model="month.monthFinish"></textarea>
						</li>
						<li>
							<h3>本月工作总结</h3>
							<textarea ng-model="month.monthUnFinish"></textarea>
						</li>
						<li>
							<h3>备注</h3>
							<textarea ng-model="month.monthBeizhu"></textarea>
						</li>
						<li>
							<h3>发送给</h3>
							<input disabled="disabled" class="userShow" ng-model="month.monthFageishui">
							<a href="javascript:;" ng-click="addPe()" class="	glyphicon glyphicon-plus-sign  add"></a>
						</li>
						<p ng-click="monthsubmit()">提交</p>
					</ul>
				</div>
				<!--//我发送的-->
				<div class="todayInfo todayInfo_post" style="display: none;">
					<li ng-repeat="postInfo in postInfos.slice().reverse()">
						<div class="headInfo">
							<p>{{postUser}}</p><span>{{classifys[$index]}}</span>
						</div>
						<div class="Info">
							<p>{{Infosa[$index]}}：<span>{{postInfo.wancheng}}</span></p>
							<p>{{Infosb[$index]}}：<span>{{postInfo.weiwancheng}}</span></p>
							<p>{{Infosc[$index]}}：<span>{{postInfo.beizhu}}</span></p>
						</div>
						<div class="footInfo">
							<span>{{postInfo.time}}</span>
						</div>
					</li>
				</div>
				<!--//我接收的-->
				<div class="todayInfo todayInfo_get" style="display: none;">
					<li ng-repeat="getInfo in getInfos.slice().reverse()">
						<div class="headInfo">
							<p>{{getNichengs[$index]}}</p><span>{{classifys[$index]}}</span>
						</div>
						<div class="Info">
							<p>{{Infosa[$index]}}：<span>{{getInfo.wancheng}}</span></p>
							<p>{{Infosa[$index]}}：<span>{{getInfo.weiwancheng}}</span></p>
							<p>{{Infosa[$index]}}：<span>{{getInfo.beizhu}}</span></p>
						</div>
						<div class="footInfo">
							<span>{{getInfo.time}}</span>
							<button ng-click="deleteInfo(getInfo.id)">删除</button>
						</div>
					</li>
				</div>
</div>
<div class="alertInfo" ng-show="alertInfo" ng-model="alertMessage">
	{{alertMessage}}
</div>
