<div class="info" ng-controller="rizhixq">
					 
				
				<!--<div class="addpeople">
					<li>深</li>
					<li>圣诞节</li>
					<li>速度</li>
					<li>水电费</li>
					<li>人</li>
					<li>是</li>
				</div>-->
				<div id="todayNews" ng-controller="todayNews">
					<ul>
						<li>发日志</li>
						<li>我发出的</li>
						<li>我收到的</li>
					</ul>
				</div>
				<div class="todayInfo">
					<p>日报</p>
					<p>周报</p>
					<p>月报</p>
					<ul>
						<li>
							<h3>今日完成工作</h3>
							<div contenteditable="true"></div>
						</li>
						<li>
							<h3>未完成工作</h3>
							<div contenteditable="true"></div>
						</li>
						<li>
							<h3>需协调的工作</h3>
							<div contenteditable="true"></div>
						</li>
						<li>
							<h3>备注</h3>
							<div contenteditable="true"></div>
						</li>
						<li>
							<h3>发送给</h3>
							<a href="javascript:;" class="	glyphicon glyphicon-plus-sign"></a>
						</li>
						<p>提交</p>
					</ul>
					<ul style="display: none;">
						<li>
							<h3>本周完成工作</h3>
							<div contenteditable="true"></div>
						</li>
						<li>
							<h3>本周工作总结</h3>
							<div contenteditable="true"></div>
						</li>
						<li>
							<h3>下周工作计划</h3>
							<div contenteditable="true"></div>
						</li>
						<li>
							<h3>需协调与帮助</h3>
							<div contenteditable="true"></div>
						</li>
						<li>
							<h3>备注</h3>
							<div contenteditable="true"></div>
						</li>
						<li>
							<h3>发送给</h3>
							<a href="javascript:;" class="	glyphicon glyphicon-plus-sign"></a>
						</li>
						<p>提交</p>
					</ul>
					<ul style="display: none;">
						<li>
							<h3>本月工作计划</h3>
							<div contenteditable="true"></div>
						</li>
						<li>
							<h3>本月工作总结</h3>
							<div contenteditable="true"></div>
						</li>
						<li>
							<h3>下月工作计划</h3>
							<div contenteditable="true"></div>
						</li>
						<li>
							<h3>需帮助与支持</h3>
							<div contenteditable="true"></div>
						</li>
						<li>
							<h3>备注</h3>
							<div contenteditable="true"></div>
						</li>
						<li>
							<h3>发送给</h3>
							<a href="javascript:;" class="	glyphicon glyphicon-plus-sign"></a>
						</li>
						<p>提交</p>
					</ul>
				</div>
				<div class="todayInfo todayInfo_post" style="display: none;">
					<li>
						<div class="headInfo">
							<p>二狗</p><span>月报</span>
						</div>
						<div class="Info">
							<p>本月工作计划：<span>1234</span></p>
							<p>本月工作总结：<span>1234</span></p>
							<p>下月工作计划：<span>1234</span></p>
						</div>
						<div class="footInfo">
							<span>03月15日 08:21</span>
							<button>查看详情</button>
						</div>
					</li>
				</div>
				<div class="todayInfo todayInfo_get" style="display: none;">
					<li>
						<div class="headInfo">
							<p>二狗</p><span>月报</span>
						</div>
						<div class="Info">
							<p>本月工作计划：<span>1234</span></p>
							<p>本月工作总结：<span>1234</span></p>
							<p>下月工作计划：<span>1234</span></p>
						</div>
						<div class="footInfo">
							<span>03月15日 08:21</span>
							<button>查看详情</button>
							<button>删除</button>
						</div>
					</li>
				</div>
</div>
